---
import logoStar from '../assets/logo-star.svg'

const socials = [
  { icon: 'ri-linkedin-box-fill', link: 'https://www.linkedin.com/in/m-santhosh-515507305?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app' },
  { icon: 'ri-instagram-line', link: 'https://www.instagram.com/m_._s_._7' },
  { icon: 'ri-twitter-x-line', link: 'https://x.com/M47847M' },
]
---

<footer class="border-t-4 px-5 md:px-0 py-10 mt-30">
  <div class="max-w-3xl mx-auto flex justify-center flex-col gap-5 md:gap-0 md:grid md:grid-cols-3 items-center">
    <div class="flex-1 font-bold">
      <a href="/" class="flex items-center gap-3 text-xl">
          <img src={logoStar.src} alt="logo" width="30" /> SANTHOSH M
      </a>
    </div>
    <div class="text-center">
      <p>© {new Date().getFullYear()} SANTHOSH M. All rights reserved.</p>
    </div>
    <div class="flex md:justify-end gap-5">
      {socials.map(item => ( 
        <a key={item.link} href={item.link} target="_blank" class="transition-all duration-200 hover:translate-y-[2px]">
          <i class:list={[item.icon, "text-2xl"]}></i>
        </a>
      ))}
    </div>
  </div>
</footer>
